.key {
	border: 0.4rem solid black;
	border-radius: 0.5rem;
	margin: 1rem
}

.playing {
	transform: scale(1.1);
	border-color: #ffc600;
	box-shadow: 0 0 1rem #ffc600;
}

kbd {
	display: block;
	font-size: 4rem;
}